.ant-form-item-required::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.TaskSelect,
.subject_wrapper,
.AssignedTo_wrapper,
.datePicker_Wrapper,
.detail_text_Area_Wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Form_Wrapper {
  display: flex;
  justify-content: space-between;
}
.date_option_wrapper {
  display: flex;
  justify-content: space-between;
}
.startDate_Wrapper,
.endDate_Wrapper,
.RemindDate_Wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.Form_Wrapper .ant-picker-suffix {
  color: #e09a02;
  font-size: 20px;
}
.button_wrapper {
  display: flex;
  justify-content: space-between;
}

.button_wrapper button {
  width: 10rem;
  max-width: 100%;
  margin-top: 2rem;
  padding: 10px;
}

.cancelbutton {
  border: 1px solid #c1c0c0;
  color: #838283;
  background-color: #fff;
  margin-right:10px
}

.applybutton {
  border: 1px solid #fa741f;
  color: #fa741f;
  background-color: #fff;
}

.Form_Wrapper label {
  margin: 10px 0 !important;
  color: #414952;
  font-size: 15px;
}
.formwrapper_leftside{
  flex:1;
  padding-right:20px;
}
.Form_Wrapper .ant-select-selector {
  height: 50px !important;
}
.form_heading {
  color: #8d8d8c;
  margin: 1rem 0;
  font-size: 18px;
}
@media screen and (max-width:990px){
  .Form_Wrapper{flex-direction: column;
  }
    .formwrapper_leftside{
  
      padding-right:0;
    }
}
