* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f2f6f8;
}
.innerHeader {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 2px solid #f7f6f7;
  align-items: center;
}
.innerHeader span {
  color: #a3a3a2;
  font-size: 14px;
  margin: 5px 0;
  padding: 10px 20px;
  font-weight: 600;
}
.innerHeader span:nth-child(2) {
  background-color: #fcf1d4;
  border-bottom: 2px solid orange;
}
.component_wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
.innerHeader span:nth-child(1) {
  padding-left: 0;
}
.innerHeader span:nth-child(7) {
  padding-left: 0;
  padding-right: 0;
}
.component_wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
.activity_information_wrapper {
  display: flex;
  align-items: flex-end;
}

.activity_information_Mainwrapper {
  height: 4rem;
  display: flex;
  align-items: center;
}
.activity_information_wrapper h3 {
  text-align: center;
  margin-right: 2rem;
  width: 10rem;
  color: #797878;
  margin-bottom: -2px;
}

.activity_information_wrapper h3:nth-child(1) {
  border-bottom: 2px solid #fa741f;
  color: #fa741f;
}
.border {
  height: 2px;
  background-color: #e8ebee;
  width: 100%;
  margin-bottom: 1rem;
}

.component_wrapper_newTaskAndDisplayed {
  width: 60rem;
  max-width: 100%;
}
.cardComponent_wrapper {
  width: 25rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
